.project{
    height: 100vh;
}
header{
    background: #000;
}
header .mydetails .img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:5% auto;
}

header .mydetails .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

header nav ul li{
    list-style: none;
    color: rgb(148, 147, 147);

   font-size: 16px;
   
}

.banner{
    background: url(./images/medium.webp) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    margin-top: auto;

}