header .mydetails .img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:5% auto;
}

header .mydetails .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
header h1{
    text-align: center;
}
